$color-master: #FFD366;
$color-sec: #424242;
$color-thir: #FAFAFA;
$color-four: #6E6E6E;
$color-fiv: #86D73F;
$color-six: #31BAF9;
$color-sev: #FF982D;
$color-eigh: #FF6C03;
$color-ten: #FF1200;
$color-elv: #FFFFFF;
$color-twv: #DEA821;
$color-thrtn: #e6e6e6;



$fontsize-xxl: 32px;
$fontsize-xl: 24px;
$fontsize-l: 18px;
$fontsize-m: 16px;
$fontsize-s: 12px;


